www.{$DOMAIN} {
  redir https://{$DOMAIN}{uri}
}

{$DOMAIN} {
  encode zstd gzip

  log {
    output stdout
    format console
  }

  @api path /api/*
  reverse_proxy @api api:8080

  handle {
    reverse_proxy web:80
  }
}
