services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
      - MSSQL_PID=Developer
    ports:
      - "1433:1433"
    volumes:
      - mssqldata:/var/opt/mssql

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=${DB_CONN}
      - Jwt__Key=${JWT__Key}
      - Jwt__Issuer=${JWT__Issuer}
      - Jwt__Audience=${JWT__Audience}
      - AWS__Region=${AWS__Region}
      - AWS__AccessKey=${AWS__AccessKey}
      - AWS__SecretKey=${AWS__SecretKey}
    depends_on:
      - db
    ports:
      - "5000:8080"


  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - api
    ports:
      - "80:80"

volumes:
  mssqldata: